@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/styles.css">

<div class="container-Index">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-Index">Bienvenido a mi sitio web</h1>
            <p class="p-Index">Este es un ejemplo de una página de inicio simple en CSHTML con un poco de estilo.</p>
            <p class="p-Index">Puedes personalizar aún más el estilo y diseño según tus preferencias.</p>
        </div>
    </div>
</div>
