@{
    ViewData["Title"] = "Registro";
}
<form method="post" action='@Url.Action("GuardarRegistro","Home")' onsubmit="return validarContraseña()">
    <section class="form-register">
        <h4>Login</h4>
        <input class="controls" type="text" name="UserName" id="nombres" placeholder="Ingrese su nombre" required>
        <input class="controls" type="password" name="Contraseña" id="contrasena" placeholder="Ingrese su contraseña" required>
        <input class="botons" type="submit" value="Inciar sesion">
        <p><a href="Registro.cshtml">Crear cuenta</a><a href="Olvide.cshtml">Olviide</a></p>

    </section>
</form>