@{
    ViewData["Title"] = "Olvide mi contraseña";
}
<form method="post" action='@Url.Action("OlvideLaContraseña","Account")'>
    <section class="form-register">
        <h4>Recupera tu contraseña</h4>
        <input class="controls" type="email" name="Email" id="email" placeholder="Ingrese su email">
        <input class="controls" type="password" name="Contraseña" id="correo" placeholder="Ingrese su nueva contraseña">
        <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Cambiar Contraseña">
        <p><a href='@Url.Action("Login","Account")'>¿Ya tengo Cuenta? Iniciar sesión.</a></p>
    </section>
</form>